.file-message-bubble {
  display: flex;
  margin: 8px;
  max-width: 70%;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f0f0f0;
  &.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
  }
  &.received {
    align-self: flex-start;
    background-color: #fff;
  }

  .shared-img {
    max-width: 220px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .file-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fafafa;
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid #ddd;
  }

  .file-info {
    display: flex;
    align-items: center;
    gap: 6px;
    .file-name {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .caption-text {
    margin-top: 5px;
    font-size: 13px;
    color: #555;
  }

  .file-time {
    font-size: 12px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;
  }
}
