<div class="contact-list">
  <mat-toolbar color="primary" class="main-header">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="profile-pic">👤</div>
    <span class="header-title">{{ username()}}
      <span class="loger-id">{{ uniqueCode()}}</span>
    </span>
    <span class="spacer"></span>
    <span class="loger-id">Online</span>
    <button mat-icon-button [matBadge]="contactCount()" matBadgeColor="accent">
      <mat-icon>chat</mat-icon>
    </button>
    <!-- <mat-slide-toggle hideIcon  /> -->
  </mat-toolbar>

  <!-- <mat-toolbar class="website-bar">
    <mat-icon>menu</mat-icon>
    <span class="website-text">Website</span>
  </mat-toolbar> -->

  <mat-nav-list class="contacts">
    @for (contact of contacts(); track contact) {
    <mat-list-item (click)="selectContact.emit(contact)" class="contact-item">
      <img matListItemAvatar class="avatar" [src]="contact.avatar" alt="avatar">

      <div matListItemTitle class="contact-name">{{ contact.name }}</div>
      <div matListItemLine class="last-seen">{{ contact.latestMessage }}</div>
      <span class="time">
        {{ contact?.lastMessageTime }}

        @if (+(contact?.unReadMessages ?? 0) > 0) {
        <span class="unread-badge">
          {{ contact?.unReadMessages }}
        </span>
        }
      </span>

    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-nav-list>
</div>